/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: Verdana;
}
body.waiting * {
    cursor: progress;
}
/*side Control---------------------------------*/
#controls{
    float: left;
    width: 220px;
    height: 91vh;
    padding: 63px 20px 20px 20px;
    background-color: #fdd662;
}
.tspButtons{
    margin: 0px 0 40px 0px;
    width: 220px;
    height: 60px;
    border: none;
    background-color: darkorange;
    font-weight: 600;
    box-shadow: #222222;
    color: white;
}
.tspButtons:hover {
    border: 1px solid #ff5800;
    background: #db770b;
}
.tspButtons:active {
    position: relative;
    top: 1px;
}
.tspButtons:disabled{
    color: darkgrey;
}
.inputBox{
    margin: 10px 0 10px 10px;
    width: 100px;
    height: 40px;
    font-size: 28px;
    float: right;
}
.mainLabels{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 20px;

}
textarea{
    margin-bottom: 30px;
    height:8em;
}

/*title------------------------------------------*/
#title{
    position: absolute;
    width: 750px;
    font-weight: bold;
    font-family: 'Anonymous Pro';
    font-size:25px;
    color: darkorange;
    margin: 0px 0px 0px 500px;
}
#titletsp{
    padding-left: 280px;
    margin: 0px;
    padding-top: 20px;

}
#titleea{
    margin: 0px;
    padding-top: 5px;
    padding-left: 400px;
}

/*TSP Window--------------------------------------*/
#vizTSP{
    position: absolute;
    top: 120px;
    background-color: #fde4a1;
    float: left;
    margin: 10px 0px 10px 20px;
}

/*manual mode--------------------------------------*/
#manualControl{
    position: absolute;
    left: 280px;
    color: darkorange;
    height: 50px;
    width: 900px;
    margin-top: 800px;

    font-weight: bold;
    font-family: 'Anonymous Pro';
    font-size:25px;
}
#manMode{
    position: relative;
    float: left;
}
#allpop{
    position: relative;
    float: left;
    left: 150px;
}
#bestTrack{
    position: relative;
    float: left;
    left: 270px;
}

/*--------------------evostrat--------------------*/
/*side Control---------------------------------*/
#strategy {
    float: right;
    width: 220px;
    height: 91vh;
    padding: 63px 20px 20px 20px;
    background-color: #fdd662;
}
article.infobox section {
    position: absolute;
    display: block;
    width: 220px;
    height: 200px;
    top: 70px;
    background-color: #c5d2de;
}
article.infobox section h2 {
    position: absolute;
    left: 0;
    top: -30px;
    width: 110px;
    height: 29px;
    /*font-family: Verdana;*/
    font-size: 15px;
    margin: 0;
    background-color: #194b7d;
    border-radius: 15px 15px 0 0;
    border: solid #ffffff;
    border-width: 1px 1px 0 0;
    z-index: 1;
}
article.infobox section:nth-child(2) h2 {
    left: 110px;
    z-index: 0;
}
article.infobox section:nth-child(3) h2 {
    left: 200px;
    z-index: -1;
}
article.infobox section h2 a {
    display: block;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: #c5d2de;
}
article.infobox section:target, article.infobox section:target h2 {
    color: #000000;
    background-color: #c5d2de;
    z-index: 1;
}
article.infobox section:target h2 a {
    color: #194b7d;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1400px) {
    /*side Control---------------------------------*/
    #controls{
        padding: 10px 20px;
        height: 100vh;
        width: 180px;
    }
    .tspButtons{
        margin: 0px 0 20px 0px;
        width: 180px;
        height: 50px;
    }
    textarea {
        margin-bottom: 30px;
        height: 8em;
        width: 11em;
    }
    .mainLabels {
        font-weight: bold;
        font-size: 16px;
    }

    /*TSP Window--------------------------------------*/
    #vizTSP{
        top: 100px;
        height: 450px;
    }

    /*title------------------------------------------*/
    #title{
        margin-left: 220px;
    }

    /*manual mode--------------------------------------*/
    #manualControl{
        left: 250px;
        height: 50px;
        width: 900px;
        margin-top: 580px;
        font-size:20px;
    }
    #allpop{
        left: 90px;
    }
    #bestTrack{
        left: 180px;
    }
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
